/**
 * @file
 * Front-end styling for the display of Webform Helptext module.
 */

.form-item {
    position: relative;
    display: inline-block;
}

.help-text-info-icon {
    background: #0779bf;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 20px;
    margin-left: 5px;
    position: relative;
    z-index: 9;
    cursor: pointer;
}

.help-text-info-icon:hover {
    background: #fff;
    color: #0779bf;
}

.help-text-info-block {
    position: absolute;
    right: 3px;
    bottom: 70%;
    background: #0779bf;
    color: #fff;
    padding: 5px 10px;
}

.help-text-info-block:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -7px;
    right: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #0779bf;
}
